.section {
  height: 100vh;
  /* background-image: url("https://s3-alpha-sig.figma.com/img/0e1e/e3f9/4fc153fea9f692e479a9ef0c53748536?Expires=1664755200&Signature=azQLGfKQHOaQZiFno8zXs1f83NNTEsZ-S~Q3Q-6FGqMCxEbfAPuze7~gXTrYY1qWxdfmiI74uGPCZx5sa8pBsR~36RV40~MAJf7PrumT4DkVJjynRfQjaQK73OcaRUYL2jVM5cHxAWBZPgprldE3HF9OvYoFU2gXFBpFynmCwuasa9bC8AmPb5s-umZRHL5bd2QrnNSq6RPOzeEL33kwF4B9CF-OEsSTab3qRDMKQXbE3Wubfn9SvN0EkJTBVnOQ7Ge~V~j44gzvqkVEzUgCbwcJnreVAlMzgfVU96xgEkq2BX6gCkDmmAmoS0Tnv8jggv61P0kKG6rCXZ5rlEBLew__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"); */
  background-size: cover;
  object-fit: cover;  background-position: center;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content {
  color: #ffffff;
  flex: 1;
}

.cloudSection {
  flex: 1;
}

/* .content > div {
  margin-top: 10px;
} */

.section1Title {
  position: relative;
  /* max-width: 287px; */
  font-size: 1.5rem;
  line-height: 29px;
  font-weight: 500;
}

.blueBlock {
  width: 8px;
  position: absolute;
  left: 115px;
}
.section1Subtitle {
  /* max-width: 315px; */
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

.section1Tagline {
  /* max-width: 325px; */
  font-size: 17px;
  line-height: 21px;
  font-weight: 500;
}

.section1Content {
  /* max-width: 338px; */
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

.btn {
  background: #3c71ff;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /* width: 85px; */
  font-size: 10px;
  font-weight: 500;
}

.cloud {
  position: relative;
  height: 186px;
  width: 186px;
  background-color: #d9d9d9;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(45deg);
  box-shadow: inset 7px 7px 7.067101px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.leftIcon,
.rightIcon {
  position: absolute;
  top: 80px;
  width: 1.5rem;
  color: #999999;
}

.leftIcon {
  left: -24px;
}

.rightIcon {
  right: -24px;
}

.cloudContent {
  height: 186px;
  width: 186px;
  transform: rotate(-45deg);
}

.cloudLogo {
  display: flex;
  justify-content: center;
  height: 50px;
}

.cloudLogo img {
  width: 60px;
}

.cloudDescription {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 8.36263px;
  line-height: 16px;
}


/* media queries for width */
@media only screen and (min-width: 300px) and (max-width:400px) and (orientation: portrait) {
  .section {
    flex-direction: row;
   margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
  }

  .content {
    padding-top: -50px;
  }
  .section1Title {
    /* max-width: 687px; */
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .blueBlock {
    margin-top: 5px;
    width: 12px;
    position: absolute;
    left: 140px;
  }

  .section1Subtitle {
    /* max-width: 750px; */

    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 525px; */
    font-size: 1rem;
    line-height: 1.5;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 438px; */
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .btn {
    margin-top: 15px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 85px; */
    font-size: 1rem;
  }

  .cloudSection {
    margin-top: 4%;
  }
  .cloud {
    height: 200px;
    width: 200px;
  }

  .leftIcon,
  .rightIcon {
    top: 110px;
    width: 2rem;
  }

  .leftIcon {
    left: -40px;
  }

  .rightIcon {
    right: -40px;
  }

  .cloudContent {
    height: 250px;
    width: 250px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 15px;
    padding: 5px;
    font-size: 0.8rem;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 400px) and (max-width:600px) and (orientation: portrait) {
  .section {
    flex-direction: row;
   margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
  }

  .content {
    padding-top: -50px;
  }
  .section1Title {
    /* max-width: 687px; */
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .blueBlock {
    margin-top: 5px;
    width: 12px;
    position: absolute;
    left: 140px;
  }

  .section1Subtitle {
    /* max-width: 750px; */

    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 525px; */
    font-size: 1rem;
    line-height: 1.5;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 438px; */
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .btn {
    margin-top: 15px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 85px; */
    font-size: 1rem;
  }

  .cloudSection {
    margin-top: 4%;
  }
  .cloud {
    height: 250px;
    width: 250px;
  }

  .leftIcon,
  .rightIcon {
    top: 110px;
    width: 2rem;
  }

  .leftIcon {
    left: -40px;
  }

  .rightIcon {
    right: -40px;
  }

  .cloudContent {
    height: 250px;
    width: 250px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 15px;
    padding: 5px;
    font-size: 0.8rem;
    line-height: 1.25;
  }
}

@media only screen and (max-height: 300px) and (orientation: landscape) {
  .section {
    flex-direction: row;
    padding: 8% 2%;
    /* align-items: center; */
  }

  .content {
    padding-top: -50px;
  }
  .section1Title {
    /* max-width: 687px; */
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  .blueBlock {
    margin-top: 5px;
    width: 12px;
    position: absolute;
    left: 140px;
  }

  .section1Subtitle {
    /* max-width: 750px; */

    font-size: 0.7rem;
    line-height: 1rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 525px; */
    font-size: 0.7rem;
    line-height: 1.2;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 438px; */
    font-size: 0.7rem;
    line-height: 1.2rem;
  }

  .btn {
    margin-top: 8px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 85px; */
    font-size: 1rem;
  }

  .cloudSection {
    margin-top: 4%;
  }
  .cloud {
    height: 150px;
    width: 150px;
  }

  .leftIcon,
  .rightIcon {
    top: 110px;
    width: 2rem;
  }

  .leftIcon {
    left: -40px;
  }

  .rightIcon {
    right: -40px;
  }

  .cloudContent {
    height: 250px;
    width: 250px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 15px;
    padding: 5px;
    font-size: 0.8rem;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
  .section {
    padding-top: 10%;
  }

  .section1Title {
    /* max-width: 687px; */
    font-size: 3rem;
    line-height: 6rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 210px;
  }

  .section1Subtitle {
    /* max-width: 712px; */
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 625px; */
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 538px; */
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .btn {
    margin-top: 25px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5rem;
  }

  .cloudSection {
    margin-top: 2%;
  }
  .cloud {
    height: 310px;
    width: 310px;
  }

  .leftIcon,
  .rightIcon {
    top: 140px;
    width: 2.2rem;
  }

  .leftIcon {
    left: -50px;
  }

  .rightIcon {
    right: -50px;
  }

  .cloudContent {
    height: 310px;
    width: 310px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 10px;
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
}

@media only screen and (min-width: 800px) and (orientation: portrait) {
  .section {
    padding-top: 12%;
  }

  .section1Title {
    /* max-width: 687px; */
    font-size: 3rem;
    line-height: 6rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 210px;
  }

  .section1Subtitle {
    /* max-width: 712px; */
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 625px; */
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 538px; */
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .btn {
    margin-top: 25px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5rem;
  }

  .cloud {
    margin-top: 5%;
    height: 350px;
    width: 350px;
  }

  .leftIcon,
  .rightIcon {
    top: 150px;
    width: 3rem;
  }

  .leftIcon {
    left: -60px;
  }

  .rightIcon {
    right: -60px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 5px;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

@media only screen and (min-width: 900px) and (orientation: portrait) {
  .section {
    padding-top: 12%;
  }

  .section1Title {
    /* max-width: 687px; */
    font-size: 3.5rem;
    line-height: 6rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 210px;
  }

  .section1Subtitle {
    /* max-width: 712px; */
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 625px; */
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 538px; */
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .btn {
    margin-top: 25px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5rem;
  }

  .cloud {
    margin-top: 10%;
    height: 350px;
    width: 350px;
  }

  .leftIcon,
  .rightIcon {
    top: 150px;
    width: 3rem;
  }

  .leftIcon {
    left: -60px;
  }

  .rightIcon {
    right: -60px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 5px;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    flex-direction: row;
    padding: 14% 2%;
    /* align-items: center; */
  }

  .section1Title {
    /* max-width: 487px; */
    font-size: 2.8rem;
    line-height: 5rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 190px;
  }

  .section1Subtitle {
    /* max-width: 612px; */
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 525px; */
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 438px; */
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .btn {
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* width: 85px; */
    font-size: 1.25rem;
  }

  .cloudSection {
    margin-top: -2%;
  }

  .cloud {
    margin-top: 15%;
    height: 300px;
    width: 300px;
  }

  .leftIcon,
  .rightIcon {
    top: 125px;
    width: 2rem;
  }

  .leftIcon {
    left: -30px;
  }

  .rightIcon {
    right: -30px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 5px;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1500px) {
  .section {
    flex-direction: row;
    padding: 14% 2%;
    /* align-items: center; */
  }

  .section1Title {
    /* max-width: 487px; */
    font-size: 4.2rem;
    line-height: 5rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 190px;
  }

  .section1Subtitle {
    /* max-width: 612px; */
    margin-top: 2%;
    font-size: 2.7rem;
    line-height: 2.8rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 525px; */
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 438px; */
    font-size: 2.3rem;
    line-height: 2.8rem;
  }

  .btn {
    margin-top: 10%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* width: 85px; */
    font-size: 1.5rem;
  }

  .cloudSection {
    margin-top: -1%;
  }

  .cloud {
    height: 400px;
    width: 400px;
    border-radius: 40px;
  }

  .leftIcon,
  .rightIcon {
    top: 150px;
    width: 3rem;
  }

  .leftIcon {
    left: -60px;
  }

  .rightIcon {
    right: -60px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 5px;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 2000px) {
  .section {
    flex-direction: row;
    padding: 10% 2%;
    /* align-items: center; */
  }

  .section1Title {
    /* max-width: 487px; */
    font-size: 5.2rem;
    line-height: 6rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 190px;
  }

  .section1Subtitle {
    /* max-width: 612px; */
    margin-top: 2%;
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 525px; */
    font-size: 2.8rem;
    line-height: 3.4rem;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 438px; */
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .btn {
    margin-top: 10%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* width: 85px; */
    font-size: 1.5rem;
  }

  .cloudSection {
    margin-top: -2%;
  }

  .cloud {
    height: 551px;
    width: 551px;
    border-radius: 40px;
  }

  .leftIcon,
  .rightIcon {
    top: 150px;
    width: 3rem;
  }

  .leftIcon {
    left: -60px;
  }

  .rightIcon {
    right: -60px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 5px;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

/* media queries for height */
@media only screen and (min-height: 300px) and (max-height: 400px) and (orientation: landscape) {
  .section {
    flex-direction: row;
    padding: 8% 2%;
    /* align-items: center; */
  }

  .content {
    padding-top: -50px;
  }
  .section1Title {
    /* max-width: 687px; */
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .blueBlock {
    margin-top: 5px;
    width: 12px;
    position: absolute;
    left: 140px;
  }

  .section1Subtitle {
    /* max-width: 750px; */

    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 525px; */
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 438px; */
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .btn {
    margin-top: 10px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 85px; */
    font-size: 1rem;
  }

  .cloudSection {
    margin-top: 2%;
  }
  .cloud {
    height: 200px;
    width: 200px;
  }

  .leftIcon,
  .rightIcon {
    top: 110px;
    width: 2rem;
  }

  .leftIcon {
    left: -40px;
  }

  .rightIcon {
    right: -40px;
  }

  .cloudContent {
    height: 250px;
    width: 250px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 15px;
    padding: 5px;
    font-size: 0.8rem;
    line-height: 1.25;
  }
}

@media only screen and (min-height: 400px) and (max-height:500px) and (orientation: landscape) {
  .section {
    flex-direction: row;
    padding: 14% 2%;
    /* align-items: center; */
  }

  .content {
    padding-top: -50px;
  }
  .section1Title {
    /* max-width: 687px; */
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .blueBlock {
    margin-top: 5px;
    width: 12px;
    position: absolute;
    left: 140px;
  }

  .section1Subtitle {
    /* max-width: 750px; */

    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 525px; */
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 438px; */
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .btn {
    margin-top: 10px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 85px; */
    font-size: 1rem;
  }

  .cloudSection {
    margin-top: 2%;
  }
  .cloud {
    height: 200px;
    width: 200px;
  }

  .leftIcon,
  .rightIcon {
    top: 110px;
    width: 2rem;
  }

  .leftIcon {
    left: -40px;
  }

  .rightIcon {
    right: -40px;
  }

  .cloudContent {
    height: 250px;
    width: 250px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 15px;
    padding: 5px;
    font-size: 0.8rem;
    line-height: 1.25;
  }
}

@media only screen and (min-height: 500px) and (max-height:599px) and (orientation: landscape) {
  .section {
    flex-direction: row;
    padding: 10% 2%;
    /* align-items: center; */
  }

  .content {
    padding-top: -50px;
  }
  .section1Title {
    /* max-width: 687px; */
    font-size: 1.5rem;
    line-height: 5rem;
  }

  .blueBlock {
    margin-top: 5px;
    width: 12px;
    position: absolute;
    left: 140px;
  }

  .section1Subtitle {
    /* max-width: 750px; */

    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 525px; */
    font-size: 1rem;
    line-height: 1.2;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 438px; */
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .btn {
    margin-top: 20px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 85px; */
    font-size: 1rem;
  }

  .cloudSection {
    margin-top: 10%;
  }
  .cloud {
    height: 220px;
    width: 220px;
  }

  .leftIcon,
  .rightIcon {
    top: 110px;
    width: 2rem;
  }

  .leftIcon {
    left: -40px;
  }

  .rightIcon {
    right: -40px;
  }

  .cloudContent {
    height: 250px;
    width: 250px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 15px;
    padding: 5px;
    font-size: 0.8rem;
    line-height: 1.25;
  }
}
@media only screen and (min-height: 600px) and (orientation: landscape) {
  .content {
    margin-top: -5%;
  }
}

@media only screen and (min-height: 800px) and (orientation: landscape) {
  .content {
    margin-top: 1%;
  }

  .section {
    flex-direction: row;
    padding-top: 100px;
    /* align-items: center; */
  }

  .section1Title {
    /* max-width: 487px; */
    font-size: 3.2rem;
    line-height: 6rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 190px;
  }

  .section1Subtitle {
    /* max-width: 612px; */
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 525px; */
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 438px; */
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .btn {
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* width: 85px; */
    font-size: 1.25rem;
  }

  .cloud {
    margin-top: 30%;
    height: 350px;
    width: 350px;
  }

  .leftIcon,
  .rightIcon {
    top: 150px;
    width: 3rem;
  }

  .leftIcon {
    left: -60px;
  }

  .rightIcon {
    right: -60px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 5px;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

@media only screen and (min-height: 1000px) and (orientation: landscape) {
  .content {
    margin-top: 3%;
  }

  .section {
    flex-direction: row;
    padding-top: 100px;
    /* align-items: center; */
  }

  .section1Title {
    /* max-width: 487px; */
    font-size: 5rem;
    line-height: 7rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 190px;
  }

  .section1Subtitle {
    /* max-width: 612px; */
    font-size: 3rem;
    line-height: 3rem;
  }

  .section1Tagline {
    margin-top: 5%;
    /* max-width: 525px; */
    font-size: 2.8rem;
    line-height: 3rem;
  }

  .section1Content {
    margin-top: 5%;
    /* max-width: 438px; */
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .btn {
    margin-top: 30px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    /* width: 85px; */
    font-size: 2rem;
  }

  .cloud {
    margin-top: 30%;
    height: 350px;
    width: 350px;
  }

  .leftIcon,
  .rightIcon {
    top: 150px;
    width: 3rem;
  }

  .leftIcon {
    left: -60px;
  }

  .rightIcon {
    right: -60px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 5px;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}




