.section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content {
  color: #ffffff;
  flex: 1;
}

.cloudSection {
  flex: 1;
}

.content > div {
  margin-top: 10px;
}

.section1Title {
  position: relative;
  max-width: 287px;
  font-size: 1.5rem;
  line-height: 29px;
  font-weight: 500;
}

.blueBlock {
  width: 8px;
  position: absolute;
  left: 115px;
}
.section1Subtitle {
  max-width: 315px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

.section1Tagline {
  max-width: 325px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 500;
}

.section1Content {
  max-width: 338px;
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-weight: 400;
}

.btn {
  background: #3c71ff;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /* width: 85px; */
  font-size: 10px;
  font-weight: 500;
}

.cloud {
  position: relative;
  height: 220px;
  width: 220px;
  background-color: #d9d9d9;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(45deg);
  box-shadow: inset 7px 7px 7.067101px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.leftIcon,
.rightIcon {
  position: absolute;
  top: 45%;
  width: 1.5rem;
  color: #999999;
  cursor: pointer;
}

.leftIcon:hover,
.rightIcon:hover {
  color: #3c71ff;
}

.leftIcon {
  left: -24px;
}

.rightIcon {
  right: -24px;
}

.cloudContent {
  height: 220px;
  width: 220px;
  transform: rotate(-45deg);
}

.cloudLogo {
  display: flex;
  justify-content: center;
  height: 50px;
}

.cloudLogo img {
  width: 60px;
}

.cloudDescription {
  margin-top: 5%;
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
  padding: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 0.9rem;
  color: #000000;
}

@media only screen and (max-height: 400px) and (orientation: landscape) {
  .section {
    flex-direction: row;
    align-items: center;
  }

  .section1Subtitle {
    max-width: 412px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
  }

  .section1Tagline {
    font-size: 17px;
    line-height: 21px;
    font-weight: 500;
  }

  .section1Content {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 400;
  }

  .cloudDescription {
    padding: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 0.9rem;
    color: #000000;
  }
}

@media only screen and (min-height: 800px) and (orientation: landscape) {
  .section {
    flex-direction: row;
    padding-top: 100px;
    /* align-items: center; */
  }

  .section1Title {
    max-width: 487px;
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 190px;
  }

  .section1Subtitle {
    max-width: 612px;
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .section1Tagline {
    padding-top: 20px;
    max-width: 525px;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .section1Content {
    padding-top: 15px;
    max-width: 438px;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .btn {
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* width: 85px; */
    font-size: 1.25rem;
  }

  .cloud {
    margin-top: 15%;
    height: 350px;
    width: 350px;
  }

  .leftIcon,
  .rightIcon {
    top: 150px;
    width: 3rem;
  }

  .leftIcon {
    left: -60px;
  }

  .rightIcon {
    right: -60px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 5px;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

@media only screen and (min-height: 400px) and (orientation: landscape) {
  .section {
    flex-direction: row;
    padding-top: 40px;
  }

  .content {
    padding-top: -50px;
  }
  .section1Title {
    max-width: 687px;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .blueBlock {
    margin-top: 5px;
    width: 12px;
    position: absolute;
    left: 140px;
  }

  .section1Subtitle {
    max-width: 750px;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .section1Tagline {
    padding-top: 10px;
    max-width: 525px;
    font-size: 1.4rem;
    line-height: 1.25;
  }

  .section1Content {
    padding-top: 10px;
    max-width: 438px;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .btn {
    margin-top: 10px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 85px; */
    font-size: 1rem;
  }

  .cloudSection {
    margin-top: 7%;
  }
  .cloud {
    height: 250px;
    width: 250px;
  }

  .leftIcon,
  .rightIcon {
    top: 110px;
    width: 2rem;
  }

  .leftIcon {
    left: -40px;
  }

  .rightIcon {
    right: -40px;
  }

  .cloudContent {
    height: 250px;
    width: 250px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 15px;
    padding: 5px;
    font-size: 0.8rem;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    flex-direction: row;
    padding-top: 100px;
    align-items: center;
  }

  .section1Title {
    font-size: 2.8rem;
    line-height: 4rem;
  }

  .blueBlock {
    margin-top: -2px;
    width: 20px;
    position: absolute;
    left: 220px;
  }

  .section1Subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .section1Tagline {
    padding-top: 3.5%;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .section1Content {
    padding-top: 3%;
    max-width: 438px;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .btn {
    margin-top: 5%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 1.25rem;
  }

  .cloud {
    margin-top: -15%;
    height: 350px;
    width: 350px;
  }

  .leftIcon,
  .rightIcon {
    top: 150px;
    width: 3.2rem;
  }

  .leftIcon {
    left: -50px;
  }

  .rightIcon {
    right: -50px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    padding: 25px;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 1500px) {
  .section {
    flex-direction: row;
    padding-top: 100px;
    align-items: center;
  }

  .section1Title {
    font-size: 3rem;
    line-height: 4rem;
  }

  .blueBlock {
    margin-top: -2px;
    width: 20px;
    position: absolute;
    left: 235px;
  }

  .section1Subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .section1Tagline {
    padding-top: 3%;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .section1Content {
    padding-top: 2%;
    max-width: 438px;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .btn {
    margin-top: 5%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 1.25rem;
  }

  .cloud {
    margin-top: -15%;
    height: 350px;
    width: 350px;
  }

  .leftIcon,
  .rightIcon {
    top: 150px;
    width: 3rem;
  }

  .leftIcon {
    left: -50px;
  }

  .rightIcon {
    right: -50px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    padding: 25px;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

/* @media screen and (min-height: 600px) {
  .content {
    margin-top: -3%;
  }
} */

@media only screen and (min-width: 600px) and (orientation: portrait) {
  .section {
    padding-top: 10%;
  }

  .section1Title {
    max-width: 687px;
    font-size: 2.75rem;
    line-height: 4rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 210px;
  }

  .section1Subtitle {
    max-width: 712px;
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .section1Tagline {
    padding-top: 20px;
    max-width: 625px;
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .section1Content {
    padding-top: 15px;
    max-width: 538px;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .btn {
    margin-top: 20px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5rem;
  }

  .cloudSection {
    margin-top: 2%;
  }
  .cloud {
    height: 310px;
    width: 310px;
  }

  .leftIcon,
  .rightIcon {
    top: 140px;
    width: 2.2rem;
  }

  .leftIcon {
    left: -50px;
  }

  .rightIcon {
    right: -50px;
  }

  .cloudContent {
    height: 310px;
    width: 310px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 10px;
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
}

@media only screen and (min-width: 800px) and (orientation: portrait) {
  .section {
    padding-top: 12%;
  }

  .section1Title {
    max-width: 687px;
    font-size: 2.75rem;
    line-height: 4rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 210px;
  }

  .section1Subtitle {
    max-width: 712px;
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .section1Tagline {
    padding-top: 20px;
    max-width: 625px;
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .section1Content {
    padding-top: 15px;
    max-width: 538px;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .btn {
    margin-top: 20px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5rem;
  }

  .cloud {
    margin-top: 10%;
    height: 350px;
    width: 350px;
  }

  .leftIcon,
  .rightIcon {
    top: 150px;
    width: 3rem;
  }

  .leftIcon {
    left: -60px;
  }

  .rightIcon {
    right: -60px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 5px;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

@media only screen and (min-width: 900px) and (orientation: portrait) {
  .section {
    padding-top: 12%;
  }

  .section1Title {
    max-width: 687px;
    font-size: 2.75rem;
    line-height: 4rem;
  }

  .blueBlock {
    width: 16px;
    position: absolute;
    left: 210px;
  }

  .section1Subtitle {
    max-width: 712px;
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .section1Tagline {
    padding-top: 20px;
    max-width: 625px;
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .section1Content {
    padding-top: 15px;
    max-width: 538px;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .btn {
    margin-top: 20px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5rem;
  }

  .cloud {
    margin-top: 10%;
    height: 350px;
    width: 350px;
  }

  .leftIcon,
  .rightIcon {
    top: 150px;
    width: 3rem;
  }

  .leftIcon {
    left: -60px;
  }

  .rightIcon {
    right: -60px;
  }

  .cloudContent {
    height: 350px;
    width: 350px;
    transform: rotate(-45deg);
  }

  .cloudLogo {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .cloudLogo img {
    width: 60px;
  }

  .cloudDescription {
    margin-top: 25px;
    padding: 5px;
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
