.outerCard {
  display: grid;
  grid-template-columns: 4fr 3fr;
  align-items: center;
  width: 100vw !important;
  height: 100vh !important;
}

.leftCard {
  position: relative;
  width: 100%;
}

.rightCard {
  height: 100%;
}

.textblock {
  height: 50%;
}

.reviewCard {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 90%;
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.img {
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  position: relative;
  top: 6rem;
  left: 17rem;
}

.text {
  position: relative;
  overflow-wrap: break-word;
  top: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-size: 27px;
  text-align: center;
  color: #293e40;
}

.reviewTitle {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-size: 38px;
  color: #293e40;
  padding: 0.8rem;
}

.reviewBy {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-size: 30px;
  text-align: center;
  color: #293e40;
  padding-top: 2.5rem;
}

.lists {
  display: flex;
  position: relative;
  justify-content: center;
  height: 1.9rem;
}

.r1 {
  margin: 1.5%;
  padding-left: 3px;
  height: 100%;
}

/* media queries for responsive design*/

/* for width */

@media (min-width: 1200px) and (orientation: portrait) {
  .outerCard {
    display: grid;
    grid-template-columns: 4fr 3fr;
  }

  .reviewCard {
    position: relative;
    margin-top: 40px;
    margin-bottom: 25px;
    height: 47rem;
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .reviewTitle {
    position: relative;
    font-size: 30px;
    padding: 1rem;
  }

  .lists {
    position: relative;
    justify-content: center;
    bottom: 2.5rem;
  }

  .reviewBy {
    position: relative;
    font-size: 27px;
    text-align: center;
    bottom: 1.8rem;
    padding-top: 0.7rem;
  }

  .textblock {
    height: 60%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    font-size: 23px;
    text-align: center;
  }

  .quote {
    position: relative;
    font-size: 80px;
    text-align: center;
    top: 3rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .outerCard {
    display: grid;
    grid-template-columns: 4fr 3fr;
  }

  .reviewCard {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 35rem;
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .reviewTitle {
    position: relative;
    font-size: 30px;
    padding: 0.5rem;
  }

  .lists {
    position: relative;
    justify-content: center;
    bottom: 2rem;
  }

  .reviewBy {
    position: relative;
    font-size: 27px;
    text-align: center;
    bottom: 1.5rem;
  }

  .textblock {
    height: 60%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    font-size: 23px;
    text-align: center;
  }

  .quote {
    position: relative;
    font-size: 80px;
    text-align: center;
    top: 2.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .outerCard {
    height: 4rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .outerCard div:nth-of-type(1) {
    order: 2;
  }

  .lists {
    position: relative;
    justify-content: center;
  }
  .quote {
    position: relative;
   left: 47%;
    top: 2.5rem;
  }

  .img {
    width: auto;
    height: auto;
  }

  .r1 {
    height: 100%;
  }

  .textblock {
    height: 52%;
  }

  .reviewCard {
    position: relative;
    margin-top: 35px;
    margin-bottom: 0px;
    height: 43rem;
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-size: 35px;
    text-align: center;
  }

  .reviewTitle {
    position: relative;
    font-size: 39px;
    top: 0.3rem;
  }

  .reviewBy {
    position: relative;
    font-size: 39px;
    text-align: center;
    top: 0.4rem;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .outerCard {
    height: 4rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .outerCard div:nth-of-type(1) {
    order: 2;
  }

  .lists {
    position: relative;
    justify-content: center;
  }
  .quote {
    position: relative;
    font-size: 50px;
    text-align: center;
    padding-bottom: 0.4rem;
  }

  .textblock {
    height: 47%;
  }

  .img {
    width: 50%;
    height: auto;
  }

  .reviewCard {
    position: relative;
    height: 31rem;
    text-align: center;
    width: 100%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-size: 20px;
    text-align: center;
  }

  .reviewTitle {
    position: relative;
    font-size: 24px;
    top: 0.5rem;
  }

  .reviewBy {
    position: relative;
    font-size: 22px;
    text-align: center;
    top: 0.8rem;
  }
}

@media (max-width: 600px) {
  .outerCard {
    height: 4rem;

    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-auto-rows: 450px;
  }

  .outerCard div:nth-of-type(1) {
    order: 2;
  }

  .quote {
    position: relative;
    font-size: 40px;
    top: 3.5rem;
    left: 49%;
    height: 4%;
  }

  .reviewCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 29rem;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .textblock {
    height: 43%;
  }

  .leftCard {
    height: 100%;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .lists {
    position: relative;
    justify-content: center;
    top: 1rem;
  }

  .r1 {
    height: 70%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-size: 20px;
    text-align: center;
  }

  .reviewTitle {
    position: relative;
    font-size: 26px;
    top: 1rem;
  }

  .reviewBy {
    position: relative;
    font-size: 26px;
    text-align: center;
    top: 1.5rem;
  }
}

@media (max-width: 300px) {
  .text {
    font-size: 16px;
  }
  .reviewTitle {
    font-size: 23px;
  }
  .reviewBy {
    font-size: 20px;
  }
  .quote{
    height: 3%;
  }
}

/* for height */

@media only screen and (min-height: 200px) and (orientation: landscape) {
  .outerCard {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }

  .leftCard {
    order: 1;
  }
  .rightCard {
    order: 2;
  }

  .reviewCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 12rem;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .reviewTitle {
    position: relative;
    font-size: 17px;
    top: 0rem;
  }

  .reviewBy {
    position: relative;
    font-size: 17px;
    text-align: center;
    top: 0rem;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-size: 14px;
    text-align: center;
  }

  .lists {
    position: relative;
    justify-content: center;
    bottom: 0.5rem;
  }

  .img {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }

  .r1 {
    height: 70%;
  }

  .quote {
    position: relative;
    height: 14%;
    top: 2.5rem;
    left: 50%;
  }
}

@media only screen and (min-height: 300px) and (orientation: landscape) {
  .outerCard {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }

  .leftCard {
    order: 1;
  }
  .rightCard {
    order: 2;
  }

  .quote {
    position: relative;
    top: 4.8rem;
    height: 8%;
    left: 47%;
  }

  .reviewCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 16.5rem;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .reviewBy {
    position: relative;
    font-size: 20px;
    text-align: center;
    top: 2.4rem;
  }

  .reviewTitle {
    position: relative;
    font-size: 24px;
    top: 0rem;
  }

  .lists {
    position: relative;
    justify-content: center;
    top: 2rem;
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .r1 {
    height: 70%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-size: 18px;
    text-align: center;
  }
}

@media only screen and (min-height: 400px) and (orientation: landscape) {
  .outerCard {
    display: grid;
    grid-template-columns: 4fr 4fr;
  }

  .reviewCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 20rem;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .reviewTitle {
    position: relative;
    font-size: 24px;
    top: 0rem;
  }

  .lists {
    position: relative;
    justify-content: center;
    top: 2rem;
  }

  .quote {
    top: 5rem;
    height: 6%;
    left: 50%;
  }

  .img{
    margin-top: 1.5rem;
  }
}

@media only screen and (min-height: 600px) and (orientation: landscape) {
  .outerCard {
    display: grid;
    grid-template-columns: 4fr 4fr;
  }

  .reviewCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 90%;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .lists {
    position: relative;
    justify-content: center;
    top: 1rem;
  }

  .r1 {
    height: 100%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 9%;
    font-size: 25px;
    text-align: center;
  }

  .reviewBy {
    position: relative;
    font-size: 30px;
    text-align: center;
    top: 1rem;
  }

  .reviewTitle {
    position: relative;
    font-size: 32px;
    top: 5.5%;
  }

  .quote {
    position: relative;
   height: 3%;
    top: 3rem;
  }

  .img{
    margin-top: 2.5rem;
  }
}

@media only screen and (min-height: 900px) and (orientation: landscape) {
  .reviewTitle{
    font-size: 50px;
  }
  .text{
    font-size: 40px;
  }
  .reviewBy{
    font-size: 50px;
    top: 4rem;
  }
  .quote{
    top: 6rem;
    height: 4%;
  }
  .lists{
    top: 4.5rem;
  }
}