.outerCard {
  display: grid;
  grid-template-columns: 4fr 3fr;
  align-items: center;
  width: 100vw !important;
  height: 100vh !important;
}

.leftCard {
  position: relative;
  width: 100%;
}

.rightCard {
  height: 100%;
}

.textblock {
  height: 50%;
}

.reviewCard {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 90%;
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.img {
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  position: relative;
  height: 3rem;
  width: 3rem;
}

.text {
  position: relative;
  overflow-wrap: break-word;
  top: 1rem;
  font-size: 27px;
  text-align: center;
  color: #293e40;
}

.reviewTitle {
  position: relative;
  font-size: 38px;
  color: #293e40;
  padding: 0.8rem;
}

.reviewBy {
  position: relative;
  font-size: 30px;
  text-align: center;
  color: #293e40;
}

.lists {
  display: flex;
  position: relative;
  justify-content: center;
  height: 1.9rem;
}

.foot {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  grid-auto-flow: dense;
}

.r1 {
  margin: 1.5%;
  padding-left: 3px;
  height: 100%;
}

/* media queries for responsive design*/

/* for width */

@media (min-width: 1200px) and (orientation: portrait) {
  .outerCard {
    display: grid;
    grid-template-columns: 4fr 3fr;
  }

  .reviewCard {
    position: relative;
    margin-top: 40px;
    margin-bottom: 25px;
    height: 47rem;
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .reviewTitle {
    position: relative;
    font-size: 30px;
    padding: 1rem;
  }

  .lists {
    position: relative;
    justify-content: center;
  }

  .reviewBy {
    position: relative;
    font-size: 27px;
    text-align: center;
  }

  .textblock {
    height: 60%;
  }

  .foot {
    display: grid;

    justify-content: center;
    margin-top: 10%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    font-size: 23px;
    text-align: center;
  }

  .quote {
    position: relative;
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .outerCard {
    display: grid;
    grid-template-columns: 4fr 3fr;
  }

  .reviewCard {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 35rem;
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .reviewTitle {
    position: relative;
    font-size: 30px;
    padding: 0.5rem;
  }

  .foot {
    justify-content: center;
    display: grid;

    margin-top: 10%;
  }

  .lists {
    position: relative;
    justify-content: center;
  }

  .reviewBy {
    position: relative;
    font-size: 27px;
    text-align: center;
  }

  .textblock {
    height: 60%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    font-size: 23px;
    text-align: center;
  }

  .quote {
    position: relative;
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .outerCard {
    height: 4rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .outerCard div:nth-of-type(1) {
    order: 2;
  }

  .lists {
    justify-content: center;
  }
  .quote {
    width: 2.3rem;
    height: 2.3rem;
  }

  .foot {
    justify-content: center;
    margin-top: 10%;
    display: grid;
  }

  .img {
    width: auto;
    height: auto;
  }

  .r1 {
    height: 100%;
  }

  .textblock {
    height: 52%;
  }

  .reviewCard {
    position: relative;
    margin-top: 35px;
    margin-bottom: 0px;
    height: 43rem;
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-size: 35px;
    text-align: center;
  }

  .reviewTitle {
    position: relative;
    font-size: 39px;
    top: 0.3rem;
  }

  .reviewBy {
    font-size: 39px;
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .outerCard {
    height: 4rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .outerCard div:nth-of-type(1) {
    order: 2;
  }

  .lists {
    position: relative;
    justify-content: center;
  }
  .quote {
    position: relative;
    width: 3rem;
    height: 3rem;
  }

  .foot {
    justify-content: center;
    margin-top: 10%;
    display: grid;
  }

  .textblock {
    height: 47%;
  }

  .img {
    width: 50%;
    height: auto;
  }

  .reviewCard {
    position: relative;
    height: 31rem;
    text-align: center;
    width: 100%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-size: 20px;
    text-align: center;
  }

  .reviewTitle {
    position: relative;
    font-size: 24px;
    top: 0.5rem;
  }

  .reviewBy {
    position: relative;
    font-size: 22px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .outerCard {
    height: 4rem;

    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-auto-rows: 450px;
  }

  .outerCard div:nth-of-type(1) {
    order: 2;
  }

  .foot {
    justify-content: center;
    margin-top: 18%;
  }

  .quote {
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
  }

  .reviewCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 27rem;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .textblock {
    height: 43%;
  }

  .leftCard {
    height: 100%;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .lists {
    position: relative;
    justify-content: center;
  }

  .r1 {
    height: 70%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-size: 19.5px;
    text-align: center;
  }

  .reviewTitle {
    position: relative;
    font-size: 26px;
  }

  .reviewBy {
    position: relative;
    font-size: 23px;
    text-align: center;
    order: 2;
  }
}

@media (max-width: 300px) {
  .text {
    font-size: 16px;
  }
  .reviewTitle {
    font-size: 22px;
  }
  .reviewBy {
    font-size: 19px;
  }
  .quote {
    width: 1.3rem;
    height: 1.3rem;
  }
  .foot {
    justify-content: center;
    margin-top: 25%;
    display: grid;
  }
}

/* for height */

@media only screen and (min-height: 200px) and (orientation: landscape) {
  .outerCard {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }

  .leftCard {
    order: 1;
  }
  .rightCard {
    order: 2;
  }

  .reviewCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 12rem;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .reviewTitle {
    position: relative;
    font-size: 17px;
    top: 0rem;
  }

  .reviewBy {
    position: relative;
    font-size: 17px;
    text-align: center;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-size: 12.5px;
    text-align: center;
  }

  .lists {
    position: relative;
    justify-content: center;
  }

  .foot {
    justify-content: center;
    margin-top: 10%;
  }

  .img {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }

  .r1 {
    height: 70%;
  }

  .quote {
    position: relative;
    width: 1rem;
    height: 1rem;
  }
}

@media only screen and (min-height: 300px) and (orientation: landscape) {
  .outerCard {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }

  .leftCard {
    order: 1;
  }
  .rightCard {
    order: 2;
  }

  .quote {
    position: relative;
    width: 1rem;
    height: 1rem;
  }

  .reviewCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 16.5rem;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .foot {
    justify-content: center;
    margin-top: 19%;
  }

  .reviewBy {
    position: relative;
    font-size: 20px;
    text-align: center;
  }

  .reviewTitle {
    position: relative;
    font-size: 24px;
    top: 0rem;
  }

  .lists {
    position: relative;
    justify-content: center;
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .r1 {
    height: 70%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-size: 15.5px;
    text-align: center;
  }
}

@media only screen and (min-height: 400px) and (orientation: landscape) {
  .outerCard {
    display: grid;
    grid-template-columns: 4fr 4fr;
  }

  .reviewCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 20rem;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .reviewTitle {
    position: relative;
    font-size: 24px;
    top: 1rem;
  }

  .foot {
    justify-content: center;
    margin-top: 18%;
  }

  .lists {
    position: relative;
    justify-content: center;
  }

  .quote {
    width: 1rem;
    height: 1rem;
  }

  .img {
    margin-top: 1.5rem;
  }
  .text {
    font-size: 16px;
  }
}

@media only screen and (min-height: 600px) and (orientation: landscape) {
  .outerCard {
    display: grid;
    grid-template-columns: 4fr 4fr;
  }

  .reviewCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 90%;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .lists {
    position: relative;
    justify-content: center;
  }

  .r1 {
    height: 100%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 10%;
    font-size: 25px;
    text-align: center;
  }

  .reviewBy {
    position: relative;
    font-size: 30px;
    text-align: center;
  }

  .reviewTitle {
    position: relative;
    font-size: 32px;
    top: 5.5%;
  }

  .quote {
    position: relative;
    height: 1.6rem;
    width: 1.8rem;
  }

  .img {
    margin-top: 2.5rem;
  }
  .foot {
    justify-content: center;
    margin-top: 14%;
  }
}

@media only screen and (min-height: 800px) and (orientation: landscape) {
  .outerCard {
    display: grid;
    grid-template-columns: 4fr 4fr;
  }

  .reviewCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 90%;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .lists {
    position: relative;
    justify-content: center;
  }

  .r1 {
    height: 100%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 10%;
    font-size: 27px;
    text-align: center;
  }

  .reviewBy {
    position: relative;
    font-size: 30px;
    text-align: center;
  }

  .reviewTitle {
    position: relative;
    font-size: 32px;
    top: 5.5%;
  }

  .quote {
    position: relative;
    height: 1.6rem;
    width: 1.8rem;
  }

  .img {
    margin-top: 2.5rem;
  }
  .foot {
    justify-content: center;
    margin-top: 16%;
  }
}

@media only screen and (min-height: 900px) and (orientation: landscape) {
  .reviewTitle {
    font-size: 48px;
  }
  .text {
    font-size: 36px;
  }
  .reviewBy {
    font-size: 45px;
  }
  .quote {
    height: 2.5rem;
    width: 2.5rem;
  }
  .foot {
    justify-content: center;
    margin-top: 15%;
  }
}
