.card {
  display: grid;
  grid-template-columns: 4fr 3fr;
  width: 100%;
}

.card1 {
  position: relative;
  width: 100%;
}

.textblock {
  height: 40%;
}

.innercard {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 44rem;
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.comma {
  position: relative;
  top: 3rem;
  font-family: "Jacques Francois Shadow";
  font-style: normal;
  font-size: 100px;
  text-align: center;
  color: #293e40;
}

.innercard:hover .prev {
  height: 6%;
  opacity: 1;
}

.innercard:hover .next {
  height: 6%;
  opacity: 1;
}

.prev {
  position: relative;
  opacity: 0;
  height: 6%;
  top: 1rem;
  cursor: pointer;
}

.next {
  position: relative;
  height: 6%;
  top: -1rem;
  left: 90%;
  opacity: 0;
  cursor: pointer;
}

.text {
  position: relative;
  overflow-wrap: break-word;
  top: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-size: 27px;
  text-align: center;
  color: #293e40;
}

.heading {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-size: 38px;
  color: #293e40;
}

.foot {
  position: relative;
  top: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-size: 32px;
  text-align: center;
  color: #293e40;
}

.lists {
  display: flex;
  position: relative;
  top: 3rem;
  justify-content: center;
  height: 2rem;
}

.r1{
  margin: 1.5%;
  padding-left: 5px;
}


/* media queries for responsive design*/

@media (max-width: 1080px) {
  .card {
    display: grid;
    grid-template-columns: 4fr 3fr;
  }

  .innercard {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 58rem;
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .img{
    position: relative;
    margin-top: 15rem;
  }

  .lists {
    position: relative;
    top: 0rem;
    justify-content: center;
  }

  .next {
    top: -2rem;
  }

  .foot {
    position: relative;
    font-family: "Inter";
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: #293e40;
    top: 0rem;
  }

  .textblock {
    height: 60%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    font-family: "Inter";
    font-style: normal;
    font-size: 32px;
    text-align: center;
    color: #293e40;
  }

  .comma {
    position: relative;
    font-family: "Jacques Francois Shadow";
    font-style: normal;
    font-size: 90px;
    text-align: center;
    color: #293e40;
    top: 2rem;
  }
}

@media (max-width: 813px) {
  .card {
    height: 4rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .card div:nth-of-type(1) {
    order: 2;
  }

  .lists {
    position: relative;
    top: 0rem;
    justify-content: center;
  }
  .comma {
    position: relative;
    top: 1rem;
    font-family: "Jacques Francois Shadow";
    font-style: normal;
    font-size: 58px;
    text-align: center;
    color: #293e40;
  }

  .img{
    margin-top: 0rem;
  }

  .textblock {
    height: 45%;
  }

  .next {
    top: -1rem;
  }

  .innercard {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 36rem;
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-family: "Inter";
    font-style: normal;
    font-size: 32px;
    text-align: center;
    color: #293e40;
  }

  .heading {
    position: relative;
    font-family: "Inter";
    font-style: normal;
    font-size: 35px;
    color: #293e40;
    top: -0.8rem;
  }

  .foot {
    position: relative;
    top: 0rem;
    font-family: "Inter";
    font-style: normal;
    font-size: 35px;
    text-align: center;
    color: #293e40;
  }
}

@media (max-width: 630px) {
  .card {
    height: 4rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .card div:nth-of-type(1) {
    order: 2;
  }

  .lists {
    position: relative;
    top: 1rem;
    justify-content: center;
  }
  .comma {
    position: relative;
    top: 2rem;
    font-family: "Jacques Francois Shadow";
    font-style: normal;
    font-size: 58px;
    text-align: center;
    color: #293e40;
  }

  .textblock {
    height: 47%;
  }

  .img{
    margin-top: 0rem;
  }
  
  .innercard {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 36rem;
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-family: "Inter";
    font-style: normal;
    font-size: 27px;
    text-align: center;
    color: #293e40;
  }

  .heading {
    position: relative;
    font-family: "Inter";
    font-style: normal;
    font-size: 33px;
    color: #293e40;
    top: -0.8rem;
  }

  .foot {
    position: relative;
    top: 0rem;
    font-family: "Inter";
    font-style: normal;
    font-size: 33px;
    text-align: center;
    color: #293e40;
  }
}

@media (max-width: 489px) {
  .card {
    height: 4rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .card div:nth-of-type(1) {
    order: 2;
  }

  .comma {
    position: relative;
    top: 1rem;
    font-family: "Jacques Francois Shadow";
    font-style: normal;
    font-size: 58px;
    text-align: center;
    color: #293e40;
  }

  .innercard {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 36rem;
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .textblock {
    height: 43%;
  }

  .img{
    margin-top: 0rem;
  }

  .lists {
    position: relative;
    justify-content: center;
    top: 0rem;
  }

  .r1{
    height: 60%;
  }

  .text {
    position: relative;
    overflow-wrap: break-word;
    top: 0.2rem;
    font-family: "Inter";
    font-style: normal;
    font-size: 23px;
    text-align: center;
    color: #293e40;
  }

  .heading {
    position: relative;
    font-family: "Inter";
    font-style: normal;
    font-size: 29px;
    color: #293e40;
    top: -0.8rem;
  }

  .foot {
    position: relative;
    top: 0rem;
    font-family: "Inter";
    font-style: normal;
    font-size: 27px;
    text-align: center;
    color: #293e40;
  }
}
