.backgroundContainer {
  background-color: #f2fff6;
  text-align: center;
}
.containWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.imageStyle2 {
  margin-top: 1em;
  margin-left: 3em;
}
.imageStyle3 {
  margin-top: 7em;
  height: auto;
}
.imageStyle4 {
  margin-top: 7em;
}

.imageStyle5 {
  margin-top: 1em;
  margin-right: 3em;
}

.imageContainer {
  width: 100%;
  height: 400px;
}

.textContainer {
  font-weight: bold;
  font-size: 280%;
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(86, 85, 85);
}

.textContent {
  font-size: x-large;
  margin-top: 1em;
}

.btnStyle {
  background-color: black;
  color: white;
  padding: 17px;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-radius: 10px;
  font-size: 20px;
}

@media (max-width: 1080px) {
  .backgroundContainer {
    background-color: #f2fff6;
    width: 100%;
    text-align: center;
  }
  .imageContainer {
    width: 100%;
    /* height:800px; */
  }

  .textContainer {
    font-weight: bold;
    font-size: xx-large;
    padding: 1rem;
    color: rgb(86, 85, 85);
  }

  .textContent {
    margin-left: 2em;
    margin-right: 2em;
  }

  .btnStyle {
    background-color: black;
    color: white;
    padding: 27px;
    margin-top: 2em;
    border-radius: 10px;
    /* margin-bottom:1em;
        font-weight:bold; */
  }
}

@media (max-width: 798px) {
  .backgroundContainer {
    background-color: #f2fff6;
    width: 100%;
    text-align: center;
  }

  .imageContainer {
    width: 100%;
  }

  .textContainer {
    font-weight: bold;
    font-size: xx-large;
    padding: 1rem;
    color: rgb(86, 85, 85);
  }

  .textContent {
    margin-left: 1em;
    margin-right: 1em;
  }
  .btnStyle {
    background-color: black;
    color: white;
    padding: 12px;
    margin-top: 2em;
    border-radius: 10px;
  }
}

@media all and (max-width: 520px) {
  .backgroundContainer {
    background-color: #f2fff6;
    width: 100%;
    text-align: center;
  }
  .imageContainer {
    max-width: 100%;
    height: fit-content;
    position: relative;
  }

  .textContainer {
    font-weight: bold;
    font-size: x-large;
    padding: 1rem;
    color: rgb(86, 85, 85);
  }

  .textContent {
    margin-left: 0em;
    margin-right: 0em;
    font-size: large;
  }

  .btnStyle {
    background-color: black;
    color: white;
    padding: 12px;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 10px;
  }

  .imageStyle2 {
    margin-top: 10em;
    margin-left: 0.5em;
  }
  .imageStyle3 {
    margin-top: 19em;
    height: auto;
  }
  .imageStyle4 {
    margin-top: 16em;
  }

  .imageStyle5 {
    margin-top: 10em;
    margin-right: 0.5em;
  }
}
