.bgImage {
  background: url("https://s3-alpha-sig.figma.com/img/94f5/5b29/850a1d34fe433ad0d65970d5a829c7ea?Expires=1664150400&Signature=Qx3MjIqc0sLUbCQxPQp3rEK3UIRrSAIV0OLmM2NHLktVz5hPRcwbIMJom7cHT3Q9EUtfw-hzczoBuz~f-Rs5-Skb6Acd6Dqyes8kXOkShd71DypIOXZBjlTVlKdZOarUiNkDRn9~rLH59bkPwUl8ZndheqnUPjo8bJKD7zHc-MV29OboggF2J4tdKIPOg54WzWzRf9LE9B1dIqeDmyaZ1LM0JEAi14VU2sfCUzuZbrCw~HLLm6MSTA8Ayi7QSyhEQQWEcu647mJ2NPdMBIGQms4CC2NLIGUsnmawIepHTD9bOGZrr2EEciJ7T3xop35NegU0O5T4Epwt4Uiy6bUvbw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA")
    center center;
  background-size: cover;
}
.headerTopContent {
  height: 6.5em;
}

.titleContent {
  font-style: normal;
  width: 50em;
  color: #ffff;
}
.title {
  font-size: xx-large;
  font-family: "Inter";
}
.description {
  line-height: 20px;
  padding: 0px 16px;
  text-align: center;
}
.bodyContent {
  height: 30em;
  display: flex;
  flex-direction: row;
}
.cardContent {
  width: 50vw;
  position: relative;
  display: flex;
  align-items: center;
  bottom: 1em;
  left: 0.5em;
}
.secondContent {
  width: 50vw;
}
.secondBody {
  width: auto;
  padding-left: 8em;
  font-family: "Inter";
  font-style: italic;
  font-size: 24.0667px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.squareDiamond {
  /* position: absolute;
    top: 50px;
    left: 50px; */
  width: 22em;
  height: 22em;
  border: 1.21078px solid #b2b2b3;
  box-shadow: inset 0px 10px 7.52927px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.squareDiamondBody {
  height: 28em;
}
.greenFolderImage {
  width: 8em;
  height: 8em;
}
.diamondParagraph {
  font-size: large;
  height: 8em;
  line-height: 1.4em;
}
.diamondBottom {
  height: 5em;
}
.currentProduct {
  height: 8px;
  width: 8px;
  background-color: #179b95;
  box-shadow: inset 0px 0.906624px 3.6265px rgba(0, 0, 0, 0.25);
  border-radius: 0.906624px;
  transform: rotate(46.24deg);
}

.diamondShapeDesign {
  height: 10px;
  width: 10px;
  background-color: #179b95;
  box-shadow: inset 0px 0.906624px 3.6265px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transform: rotate(46.24deg);
}

.learnMoreButton {
  background: #179b95;
  border-radius: 6px;
  width: 7em;
  height: 2em;
  color: white;
  font-size: medium;
}

.chevronIcon {
  width: 3em;
}

/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .squareDiamond {
    width: 15.5em;
    height: 15.5em;
  }
  .headerTopContent {
    height: 8em;
  }
  .titleContent {
    width: 23em;
  }
  .title {
    font-size: x-large;
  }
  .description {
    padding: 0px 0px;
  }
  .bodyContent {
    flex-direction: column-reverse;
    height: 40em;
  }
  .cardContent {
    height: 50%;
    width: 100%;
    /* display: flex;
      justify-content: center; */
  }
  .secondContent {
    height: 50%;
    width: 100%;
  }
  .secondBody {
    padding-left: 0em;
    margin-top: 0em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .bgImage {
    background: black;
  }
  .squareDiamond {
    width: 17em;
    height: 17em;
  }
  .squareDiamondBody {
    height: 20em;
  }
  .diamondParagraph {
    font-size: small;
  }
  .titleContent {
    width: 28em;
  }
  .title {
    font-size: x-large;
  }
  .greenFolderImage {
    width: 6em;
    height: 6em;
  }
  .secondBody {
    font-size: 20.0667px;
    padding-left: 3em;
    margin-top: -5em;
    width: 16em;
  }
  .bodyContent {
    height: 40em;
    flex-direction: column;
    justify-content: center;
  }
  .cardContent {
    height: 70%;
    width: 100%;
    display: flex;
  }
  .secondContent {
    background: url("https://s3-alpha-sig.figma.com/img/94f5/5b29/850a1d34fe433ad0d65970d5a829c7ea?Expires=1664150400&Signature=Qx3MjIqc0sLUbCQxPQp3rEK3UIRrSAIV0OLmM2NHLktVz5hPRcwbIMJom7cHT3Q9EUtfw-hzczoBuz~f-Rs5-Skb6Acd6Dqyes8kXOkShd71DypIOXZBjlTVlKdZOarUiNkDRn9~rLH59bkPwUl8ZndheqnUPjo8bJKD7zHc-MV29OboggF2J4tdKIPOg54WzWzRf9LE9B1dIqeDmyaZ1LM0JEAi14VU2sfCUzuZbrCw~HLLm6MSTA8Ayi7QSyhEQQWEcu647mJ2NPdMBIGQms4CC2NLIGUsnmawIepHTD9bOGZrr2EEciJ7T3xop35NegU0O5T4Epwt4Uiy6bUvbw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA")
      center center;
    background-size: cover;
    height: 33%;
    width: 100%;
  }
  .chevronIcon {
    width: 2.5em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .titleContent {
    width: 40em;
  }
  .squareDiamond {
    width: 19em;
    height: 19em;
  }
  .secondBody {
    padding-left: 4em;
    margin-top: 0em;
  }
  .squareDiamondBody {
    height: 20em;
  }
  .greenFolderImage {
    width: 7em;
    height: 7em;
  }
  .diamondParagraph {
    font-size: medium;
  }
  .chevronIcon {
    width: 3em;
  }
}
