.bgImage {
  background-color: black;
  padding-top: 3em;
}
.headerTopContent {
  height: 15vh;
}

.titleContent {
  font-style: normal;
  width: 80%;
  color: #ffff;
}
.title {
  font-size: xx-large;
}
.description {
  line-height: 1.2em;
  padding: 0px 2em;
  text-align: center;
  font-size: large;
}
.bodyContent {
  background-position: 20px 100%;
  background-size: 98% 63%;
  background-repeat: no-repeat;
  height: 76vh;
  display: flex;
  flex-direction: row;
  padding: 0px 1.5em;
}
.firstContent {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1em;
  left: 0.5em;
}
.secondContent {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
}
.secondBody {
  width: 16em;
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: center;
  color: #ffffff;
  margin-right: 2em;
}

.squareDiamond {
  width: 22em;
  height: 22em;
  border: 0.1em solid #b2b2b3;
  background-color: #d9d9d9;
  box-shadow: inset 0px 0.3em 7.52927px rgba(0, 0, 0, 0.25);
  border-radius: 3em;
  transform: rotateY(0deg) rotate(45deg);
}

.squareDiamondBody {
  height: 25em;
  width: 21em;
  transform: rotateY(0deg) rotate(-45deg);
}
.greenFolderImage {
  width: 8em;
  height: 8em;
}
.diamondParagraph {
  font-size: large;
  height: 8em;
  line-height: 1.4em;
  font-weight: 600;
  padding: 0% 7%;
}
.diamondBottom {
  height: 5em;
}
.currentProduct {
  height: 0.8em;
  width: 0.8em;
}

.diamondShapeDesign {
  height: 10px;
  width: 10px;
  background-color: #179b95;
  box-shadow: inset 0px 0.906624px 3.6265px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transform: rotate(46.24deg);
}

.learnMoreButton {
  background: #179b95;
  border-radius: 0.3em;
  width: 8em;
  height: 2.5em;
  color: white;
  font-size: large;
  margin-bottom: 3%;
}

.chevronIcon {
  width: 3em;
}
.firstParagraph {
  margin-top: 1.5rem;
}
.iconForSliding {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 420px) {
  .bgImage {
    padding-top: 25%;
  }
  .squareDiamond {
    width: 15.5em;
    height: 15.5em;
    transform: rotateY(0deg) rotate(0deg);
    background-image: url("../../public/images/Rectangle 5.png");
    background-color: transparent;
    background-size: cover;
    display: flex;
    justify-content: center;
    border: none;
  }
  .squareDiamond .squareDiamondBody {
    height: 14em;
    width: 12em;
    transform: rotateY(0deg) rotate(0deg);
  }
  .diamondBottom {
    height: 3em;
  }
  .learnMoreButton {
    width: 6.5em;
    height: 2em;
    font-size: small;
  }
  .currentProduct {
    height: 0.5em;
    width: 0.5em;
  }
  .greenFolderImage {
    width: 4em;
    height: 4em;
  }
  .diamondParagraph {
    font-size: x-small;
  }
  .headerTopContent {
    height: 24%;
    margin-bottom: 1em;
  }
  .titleContent {
    width: 100vw;
    justify-content: flex-end;
  }
  .title {
    font-size: 24px;
    width: 12em;
    text-align: center;
  }
  .description {
    padding: 0px 5%;
    text-align: left;
  }
  .bodyContent {
    flex-direction: column-reverse;
    height: 73%;
    justify-content: flex-end;
    padding: 0px 0px;
  }
  .firstContent {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .secondContent {
    height: 30%;
    width: 100%;

    align-items: flex-start;
  }
  .secondBody {
    padding-left: 0em;
    margin-top: 0em;

    font-size: 15px;
    width: 100vw;
    margin-left: 0%;
  }
  .diamondLogo {
    display: none;
  }
  .firstParagraph {
    text-align: left;
    line-height: 19px;
    margin-top: 0px;
    padding: 0% 5%;
  }
  .secondParagraph {
    line-height: 19px;
    text-align: left;
  }
  .chevronIcon {
    display: none;
  }
  .iconForSliding {
    display: inline-block;
  }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
  .bgImage {
    background: black;
  }
  .squareDiamond {
    width: 16em;
    height: 16em;
  }
  .squareDiamondBody {
    height: 17em;
  }
  .diamondParagraph {
    font-size: 84%;
  }
  .headerTopContent {
    height: 17vh;
  }
  .titleContent {
    width: 80%;
  }
  .description {
    padding: 0%;
    width: 100%;
  }
  .title {
    font-size: x-large;
  }
  .greenFolderImage {
    width: 6em;
    height: 6em;
  }
  .secondBody {
    font-size: 20.0667px;
    padding-left: 3em;
    width: 16em;
  }
  .bodyContent {
    height: 82%;
    flex-direction: column;
    padding: 0em;
  }
  .firstContent {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .secondContent {
    width: 100%;
    justify-content: flex-end;
  }
  .chevronIcon {
    width: 2em;
  }
  .learnMoreButton {
    font-size: small;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .titleContent {
    width: 40em;
  }
  .description {
    padding: 0%;
  }
  .squareDiamond {
    width: 19em;
    height: 19em;
  }
  .secondBody {
    margin-top: 0em;
    width: 11em;
  }
  .squareDiamondBody {
    height: 20em;
  }
  .learnMoreButton {
    font-size: medium;
  }
  .greenFolderImage {
    width: 7em;
    height: 7em;
  }
  .diamondParagraph {
    font-size: medium;
  }
  .chevronIcon {
    width: 3em;
  }
}

@media only screen and (min-height: 300px) and (max-height: 400px) and (orientation: landscape) {
  .bodyContent {
    flex-direction: row-reverse;
    height: 85%;
    padding: 0px;
    image-orientation: flip;
  }
  .bgImage {
    padding-top: 2em;
    padding-left: 3%;
  }
  .titleContent {
    align-items: flex-start;
    position: relative;
    width: 70%;
  }
  .title {
    align-self: flex-end;
  }
  .firstContent {
    height: 85%;
    width: 18em;
    position: relative;
  }
  .squareDiamond {
    width: 70%;
    height: 80%;
    border-radius: 2em;
  }
  .squareDiamondBody {
    height: 14em;
  }

  .headerTopContent {
    padding: 0%;
    display: flex;
    justify-content: flex-start;
    height: 15%;
  }
  .description {
    line-height: 1.2em;
    padding: 0%;
    text-align: left;
    width: 84%;
    font-size: 16px;
  }
  .secondContent {
    height: 100%;
    justify-content: flex-start;
    width: 100%;
  }
  .secondBody {
    width: 66%;
    padding: 0%;
    margin: 0%;
    font-size: medium;
    text-align: left;
  }
  .firstParagraph {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.2em;
  }
  .diamondShapeDesign {
    display: none;
  }
  .greenFolderImage {
    width: 5em;
    height: 5em;
  }
  .diamondParagraph {
    font-size: 11px;
    height: 100%;
    align-items: flex-start;
  }
  .diamondBottom {
    height: 4em;
  }
  .learnMoreButton {
    width: 7em;
    font-size: 12px;
  }
  .currentProduct {
    height: 0.6em;
    width: 0.6em;
  }
  .chevronIcon {
    width: 1.5em;
  }
}

@media only screen and (min-height: 400px) and (max-height: 500px) and (orientation: landscape) {
  .bodyContent {
    flex-direction: row-reverse;
    height: 85%;
    padding: 0px;
    image-orientation: flip;
  }
  .bgImage {
    padding-top: 2em;
    padding-left: 3%;
  }
  .titleContent {
    align-items: flex-start;
    position: relative;
  }
  .title {
    align-self: flex-end;
  }
  .firstContent {
    height: 20em;
    width: 22em;
    position: relative;
  }
  .squareDiamond {
    width: 70%;
    height: 77%;
    border-radius: 2em;
  }
  .squareDiamondBody {
    height: 16em;
  }

  .headerTopContent {
    padding: 0%;
    display: flex;
    justify-content: flex-start;
    height: 15%;
  }
  .description {
    line-height: 1.2em;
    padding: 0%;
    text-align: left;
    width: 80%;
    font-size: 18px;
  }
  .secondContent {
    height: 100%;
    justify-content: flex-start;
    width: 100%;
  }
  .secondBody {
    width: 66%;
    height: 35%;
    padding: 0%;
    margin: 0%;
    font-size: medium;
    text-align: left;
  }
  .firstParagraph {
    margin-top: 0px;
    font-size: 18px;
  }
  .diamondShapeDesign {
    display: none;
  }
  .greenFolderImage {
    width: 5em;
    height: 5em;
  }
  .diamondParagraph {
    font-size: 14px;
    align-items: flex-start;
  }
  .diamondBottom {
    height: 4em;
  }
  .learnMoreButton {
    width: 50%;
    font-size: 13px;
  }
  .currentProduct {
    height: 0.6em;
    width: 0.6em;
  }
  .chevronIcon {
    width: 2.5em;
  }
}

@media only screen and (min-height: 500px) and (max-height: 600px) and (orientation: landscape) {
  .headerTopContent {
    height: 25%;
  }
  .titleContent {
    align-items: center;
    width: 100%;
  }
  .title {
    align-self: center;
  }
  .description {
    text-align: center;
  }

  .bodyContent {
    flex-direction: row;
    height: 70%;
  }
  .firstContent {
    height: 100%;
    width: 50%;
  }
  .squareDiamond {
    width: 72%;
    height: 72%;
  }
  .squareDiamondBody {
    height: 100%;
  }
  .greenFolderImage {
    width: 7em;
    height: 6em;
  }
  .diamondParagraph {
    height: 8em;
  }
  .diamondBottom {
    height: 3em;
  }
  .secondContent {
    justify-content: flex-end;
  }
  .secondBody {
    text-align: center;
    width: 60%;
    height: 52%;
    margin-right: 5%;
  }
  .diamondLogo {
    display: inline;
  }
}

/* 
@media only screen and (min-height: 700px) and (orientation: landscape) {
  .bgImage {
    background-color: black;
    padding-top: 3em;
  }
  .headerTopContent {
    height: 15vh;
  }

  .titleContent {
    font-style: normal;
    width: 80%;
    color: #ffff;
  }
  .title {
    font-size: xx-large;
  }
  .description {
    line-height: 1.2em;
    padding: 0px 2em;
    text-align: center;
    font-size: large;
  }
  .bodyContent {
    background-position: 20px 100%;
    background-size: 98% 63%;
    background-repeat: no-repeat;
    height: 76vh;
    display: flex;
    flex-direction: row;
    padding: 0px 1.5em;
  }
  .firstContent {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1em;
    left: 0.5em;
  }
  .secondContent {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
  }
  .secondBody {
    width: 16em;
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: center;
    color: #ffffff;
    margin-right: 2em;
  }

  .squareDiamond {
    width: 22em;
    height: 22em;
    border: 0.1em solid #b2b2b3;
    background-color: #d9d9d9;
    box-shadow: inset 0px 0.3em 7.52927px rgba(0, 0, 0, 0.25);
    border-radius: 3em;
    transform: rotateY(0deg) rotate(45deg);
  }

  .squareDiamondBody {
    height: 25em;
    width: 21em;
    transform: rotateY(0deg) rotate(-45deg);
  }
  .greenFolderImage {
    width: 8em;
    height: 8em;
  }
  .diamondParagraph {
    font-size: large;
    height: 8em;
    line-height: 1.4em;
    font-weight: 600;
    padding: 0% 7%;
  }
  .diamondBottom {
    height: 5em;
  }
  .currentProduct {
    height: 0.8em;
    width: 0.8em;
  }

  .diamondShapeDesign {
    height: 10px;
    width: 10px;
    background-color: #179b95;
    box-shadow: inset 0px 0.906624px 3.6265px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    transform: rotate(46.24deg);
  }

  .learnMoreButton {
    background: #179b95;
    border-radius: 0.3em;
    width: 8em;
    height: 2.5em;
    color: white;
    font-size: large;
    margin-bottom: 3%;
  }

  .chevronIcon {
    width: 3em;
  }
  .firstParagraph {
    margin-top: 1.5rem;
  }
  .iconForSliding {
    display: none;
  }
} */

/* 
@media only screen and (min-height: 1024px) and (orientation: portrait) {
  .bodyContent {
    flex-direction: column;
    height: 80%;
  }
  .headerTopContent {
    height: 20%;
  }
  .firstContent {
    height: 50%;
    width: 100%;
    justify-content: center;
  }
  .secondBody {
    width: 35%;
    margin-left: 0px;
    margin-right: 4em;
    padding: 0px;
  }
  .secondContent {
    width: 100%;
    height: 50%;
    justify-content: flex-end;
  }
  .titleContent {
    width: 100%;
  }
  .title {
    font-size: 2.5em;
  }
  .description {
    font-size: large;
    padding: 0px 7em;
  }
} */
