.container {
  background-image: url("../../public/images/Rectangle.png");
  background-size: cover;
}

.container:nth-child(odd) {
  margin-top: 12.5rem;
  /* justify-self: baseline;  */
}

.section2:nth-child(odd) {
  margin-top: 12.5rem;
}
