.mainNav {
  display: grid;
  background-color: rgb(205, 176, 176);
  color: black;
  width: 100%;
  height: 4rem;
  grid-template-columns: 4rem 1fr 2fr 4rem;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.logo {
  display: grid;
  color: blue;
  font-weight: 600;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

.menuLink {
  grid-column: 3/4;
}

.menuLinkUl {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hamburger {
  display: none;
}

/* media queries for responsive design*/

@media (max-width: 1080px) {
}

@media (max-width: 998px) {
  .mainNav {
    height: 4rem;
    grid-template-columns: 2rem 2fr 2fr 2rem;
  }
  .logo{
    height: 4rem;
  }
  .menuLink {
    display: none;
  }
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .mobileMenuLink{
    grid-column: 2/4;
    position: relative;
    height: 20rem;
    display: grid;
    align-items: center;
    padding: 1rem;
    z-index: 99;
  }
  .mobileMenuLinkUl{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 798px) {
}
@media (max-width: 520px) {
}
